@page "/user"
@inject DataService data
@using Beam.Shared

<h2>User Rays</h2>

@foreach (var ray in Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}

@code {
    List<Ray> Rays = new List<Ray>();

    protected override async Task OnInitializedAsync()
    {
        Rays = await data.GetMyRays();
    }
}